*{
    margin: 0;
}

.navigasi{
    position: fixed;
    width: 100%;
}

.atas{
    background-color: rgb(0, 0, 0) ;
    padding-left: 50px;
    display: flex;
    align-items: center;
}

.atas a{
    color: white;
    text-decoration: none; 
    margin: 15px;
    padding-top: 5px;
    font-family: sans-serif;
    font-size: 13px;
    
}

.kanan  {
    text-align: right;
    
}

.navbar{
    background-color: rgb(0, 0, 0);
    padding: 20px;
    display: flex;
    align-items: center;
    padding-left: 50px;
}

.navbar h1{
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    margin-left: 80px;
}
.navbar h2{
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    margin-left: 0px;
    font-size: 100px;
}
.navbar h3{
    margin-left: 100px;
    color: white;
    font-weight: bold;
    font-size: 100px;
    font-family: sans-serif; 
}
.navbar h5{
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-family: sans-serif;
    margin-left: 50px;
    font-size: 20px;
}

.keranjang{
    width: 40px;
    height: 40px;
    margin-left: 5%;
}

.keranjang:hover{
    cursor: pointer;
}

.navbar input{
    margin-left: 3%;
    width: 50%;
    padding: 15px;
    border-radius: 2px;
    border: none;
}

.navbar button{
    background-color: rgb(255, 255, 255);
    border: none;
    width: 70px;
    height: 45px;
    border: 2px solid rgb(255, 255, 255);
    margin-left: 10px;
    border-radius: 3px;
}

.navbar button:hover{
    background-color: rgb(0, 0, 0);
    cursor: pointer;
}

.card{
    height: 50%;
    width: 50%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 5%;
    display: flex;
            
}

.spasi{
    padding: 10%;
}

.cart{
    width: 50px;
    height: 50px;
}

.kotak {
    display: flex;
}